HF_TOKEN=<your Hugging Face token>
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<your-api-key>"
LANGSMITH_PROJECT="vid-query"
EVALUATE_RAG="langchain"